<section class="badge-group">
  <div class="badge badge--gray">
    <p class="badge__stat badge__stat--darkgray">100</p>
    <p class="badge__description badge__description--lightgray">posts</p>
  </div>
  <div class="badge badge--gray">
    <p class="badge__stat badge__stat--darkgray">2,242</p>
    <p class="badge__description badge__description--lightgray">follower</p>
  </div>
  <div class="badge badge--gray">
    <p class="badge__stat badge__stat--darkgray">1,432</p>
    <p class="badge__description badge__description--lightgray">following</p>
  </div>
</section>
